---
import Layout from "../layouts/Layout.astro"
---

<Layout title="404 Not Found">
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-white text-4xl text-center font-bold">404 Not Found</h1>
    <img src="https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExYmFzbWR5NDFlZnI5MHlpNzExcmhrNHMxeHkzM3c3c3Rqb2VsazgzNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/NTur7XlVDUdqM/giphy.gif"  alt="404 Not Found" class="w-1/2" />
  </div>
</Layout>

