---
import Layout from "../layouts/Layout.astro";
---
<Layout title="About the project">
  <h1>About the project</h1>  
  <p>
    This is a simple project to demonstrate how to use Astro to build a static site with dynamic components.
    For me SpaceX Launches are a great example of a dynamic content that can be used to demonstrate the power of Astro.
  </p>
</Layout>
